// Verbindet main.scss mit partial (_card.scss)
// @use sagt dem Code, dass elemente aus anderem partial-Quellen genutzt werden soll, ohne diesen mehrfach zu laden ( verbessert Performance & kürzt Skript)
@use './base/typography.scss';
@use './base/margin.scss';
@use './components/card';



// NESTING

$grey-bg: grey;
// CSS Version von $grey-bg (siehe oben)
.root{
    --grey-bg:grey;
}

h1{
    // SCSS Version wird genutzt, wenn sich Element NICHT ändert
    color: $grey-bg;
    
    // CSS Version... siehe oben
    //color: var(--grey-bg);
}


// Wenn das direkte Child-Elemenet vom object mit der Klasse .card eine h2 ist, dann nutze das folgende Design
//.card > h2{
//     color: #ff0000;
//}

// Beispiel &-Operator
//.card:hover{
//    background-color: #ff0000;
//}

