// NESTING

h1{
    color: #0400ff;
}

.card{
    background-color: black;

    // Beispiel "Nesting" : Schönere Schreibweise der Angaben unten.
    &__title{
        color: #a40091;
    }
    &__text{
        color: aliceblue;

        &--highlight{
            color: rgb(208, 255, 0);
        }
        &:hover{
            color: rgb(255, 0, 0);
        }
    }
}

// Wenn das direkte Child-Elemenet vom object mit der Klasse .card eine h2 ist, dann nutze das folgende Design
//.card > h2{
//     color: #ff0000;
//}

// Beispiel &-Operator
//.card:hover{
//    background-color: #ff0000;
//}