@use '../abstract/mixin' as mixin;
@use '../abstract/functions' as fct;

.card{
    background-color: black;

    // bezihe @mixin flex-center mit in diese Klasse ein
    // mixin.  muss angebunden werden, wenn auch @use partials zugegriffen werden soll
    @include mixin.flex-center();
    @include fct.px-to-rem();

    // Beispiel "Nesting" : Schönere Schreibweise der Angaben unten.
    &__title{
        color: #a40091;
    }
    &__text{
        color: aliceblue;

        &--highlight{
            color: rgb(208, 255, 0);
        }
        &:hover{
            color: rgb(255, 0, 0);
        }
    }
}