.card{
    background-color: black;

    // Beispiel "Nesting" : Schönere Schreibweise der Angaben unten.
    &__title{
        color: #a40091;
    }
    &__text{
        color: aliceblue;

        &--highlight{
            color: rgb(208, 255, 0);
        }
        &:hover{
            color: rgb(255, 0, 0);
        }
    }
}